Задание 1.
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [3]:
import pandas as pd

In [4]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')
joined = ratings.merge(movies, on='movieId', how='left')
joined.sort_values('rating', ascending=False).head()

,userId,movieId,rating,timestamp,title,genres
33889,242,2929,5.0,956687566,Reds (1981),Drama|Romance
36867,265,1233,5.0,960056214,"Boot, Das (Boat, The) (1981)",Action|Drama|War
46251,337,1356,5.0,1447176421,Star Trek: First Contact (1996),Action|Adventure|Sci-Fi|Thriller
14749,95,3948,5.0,1025556197,Meet the Parents (2000),Comedy
14747,95,3917,5.0,1019023102,Hellraiser (1987),Horror

In [5]:
print(f'Больше всего оценок 5.0 получил фильм: The Green Mile(1999)')

Больше всего оценок 5.0 получил фильм: The Green Mile(1999)

Задание 2.
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [6]:
data = pd.read_csv('power.csv')
filtered_countries = data[ (data['country'] =='Lithuania') | (data['country'] =='Latvia') | (data['country'] =='Estonia')]
filtered_countries_cat = filtered_countries[ (filtered_countries['category']==4) | (filtered_countries['category']==12) | (filtered_countries['category']==21)]
filtered_final = filtered_countries_cat[ (filtered_countries_cat['year']>2005) | (filtered_countries_cat['year']<2010)]
filtered_final

          country  year  quantity  category
10617     Estonia  2008       1.0         4
10618     Estonia  2007       0.0         4
10619     Estonia  2006       0.0         4
10620     Estonia  2005       1.0         4
10621     Estonia  2004       1.0         4
...           ...   ...       ...       ...
253986  Lithuania  2005       1.0        21
253987  Lithuania  2004       1.0        21
253988  Lithuania  2003       0.0        21
253989  Lithuania  2002       0.0        21
253990  Lithuania  2001       0.0        21

[1253 rows x 4 columns]

Задание 3.
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [22]:
table_list = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')

print(table_list[0])

     0       1      2        3       4      5        6       7      8   \
0  ММВБ   3 451  -1,1%   Nasdaq  12 999  -0,9%  Биткойн  35 211  -1,5%
1   РТС   1 474  -1,8%   S&P500   3 768  -0,7%    Нефть     546  -0,7%
2   Dow  30 814  -0,6%  FTSE100   6 736  -1,0%   Золото   1 828   0,0%

        9       10     11
0  USD/RUB  736665   0,0%
1  EUR/RUB  889120   0,1%
2  EUR/USD   12073  -0,1%